            body {
                margin: 0%;
                padding: 0%;
            }

            .home {
                background-color: #2c3e50;
                margin: 0%;
                padding: 0%;
                width: 100%;
                height: 110px;
            }

            .name {
                display: inline;
                text-align: left;
                font-family: 'Montserrat', sans-serif;
                font-size: 200%;
                color: white;
                margin: 0%;
                padding: 500px 500px 110px 110px;
            }

            .topics {
                display: inline-block;
                text-align: right;
                font-family: 'Montserrat', sans-serif;
                color: white;
                margin: 0%;
                padding: 50px 50px 0px 0px;
            }

            li {
                display: inline-block;
                padding: 5px;
                text-align: right;
            }

            .profile {
                background-color: #18bc9c;
                background-size: 100%;
                margin: 0%;
                padding: 12%;
            }

            .text {
                text-align: center;
                padding: 0px;
                margin: 0px;
            }

            .subtitle {
                font-family: 'Montserrat', sans-serif;
                color: white;
                font-size: 70px;
                padding: 220px 0px 20px 0px;
                margin: 0px;
            }

            .star {
                text-align: center;
                color: white;
                margin-top: 2px;
            }

            .lineone {
                background-color: white;
                display: inline-block;
                width: 100px;
                height: 4px;
                border: 0px;
            }

            i.fas {
                position absolute;
                top: 50%;
                left: 50%;
                margin-top: -25%;
                padding: 10px;
                font-size: 40px;
            }

            .subtext {
                position: relative;
                font-family: 'Lato', sans-serif;
                color: white;
                font-size: 25px;
            }

            .portfolioimages {
                text-align: center;
                margin-top: 5%;
            }

            .textimages {
                color: #2c3e50;
                font-size: 50px;
                font-family: 'Montserrat', sans-serif;
                margin: 100px 20px 20px 20px;
                text-align: center;
            }

            .startwo {
                text-align: center;
                color: #2c3e50;
                margin-top: 2px;
            }

            .linetwo {
                background-color: #2c3e50;
                display: inline-block;
                width: 100px;
                height: 4px;
                border: 0px;
            }

            .imagecontext {
                width: 25%;
                height: 25%;
                padding: 1%;
            }

            .imageprofile {
                position: absolute;
                width: 260px;
                height: 260px;
                top: 50%;
                left: 50%;
                margin-top: -130px;
                margin-left: -130px;
            }

            .about {
                text-align: center;
                position: relative;
                background-color: #18bc9c;
                background-size: 100%;
                margin: 0%;
                padding: 10% 20%;
                margin-top: 100px;
            }

            .aboutfont {
                font-family: 'Montserrat', sans-serif;
                color: white;
                text-align: center;
                font-size: 50px;
                padding: 0px 0px 20px 0px;
                margin: 0px;
                margin-top: 0px;
            }

            .abouttext {
                display: inline-flex;
                font-family: 'Lato', sans-serif;
                color: white;
                font-size: 20px;
                width: 45%;
                height: 30%;
                text-align: left;
                margin: 2px;
                margin-top: 5px;
            }

            .buttondownload {
                color: white;
                font-family: 'Lato', sans-serif;
                background-color: transparent;
                font-size: 20px;
                margin-top: 30px;
                border-radius: 5px;
                padding: 15px;
                border: 2px solid white;
                text-align: center;
            }

            .contact {
                display: inline-block;
                background-size: 100%;
                margin: 0%;
                padding: 10% 20%;
            }

            .contacttitle {
                text-align: center;
                font-family: 'Montserrat', sans-serif;
                color: #2c3e50;
                font-size: 50px;
                margin: 1px 0px 20px 0px;
                padding-top: 0px;
                border: 0px;
            }

            .textcontact {
                text-align: left;
                margin: 0px;
                padding: 50px 400px 30px 0px;
                border: none;
                border-bottom: 1px solid #cfdce9;
                font-family: 'Lato', sans-serif;
                font-size: 25px;
            }

            .texttwo {
                text-align: left;
                margin: 0px;
                padding: 50px 400px 80px 0px;
                border: none;
                border-bottom: 1px solid #cfdce9;
                font-family: 'Lato', sans-serif;
                font-size: 25px;
            }

            .button {
                display: flex;
                justify-content: flex-start;
                background-color: #18bc9c;
                background-position: right;
                background-size: 10px;
                color: white;
                font-family: 'Lato', sans-serif;
                border: 10px;
                font-size: 20px;
                margin-top: 10px;
                border-radius: 5px;
                padding: 15px;
            }

            .font-lato {
                font-family: 'Lato', sans-serif;
            }

            .font-montserrat {
                font-family: 'Montserrat', sans-serif;
            }

            .footer {
                height: 100%;
                display: flex;
                background-color: #212529;
                color: white;
                justify-content: space-evenly;
                margin: auto;
            }

            .container-footer {
                display: flex;
                align-items: flex-start;
            }

            .footer div {
                width: 300px;
                margin: 0 32px 0;
                display: flex;
                justify-content: center;
                flex-direction: column;
                text-align: center;
            }

            .footer p {
                margin-top: 0px;
            }

            .footer ul {
                margin-top: 0px;
                padding: 0;
                display: flex;
                justify-content: space-around;
            }

            .footer li {
                width: 50px;
                height: 50px;
                border: 2px solid white;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .footer li a {
                color: white;
            }

            .footer li:hover {
                background-color: white;
                transition: 0.5s;
                cursor: pointer;
            }

            .copyright {
                display: flex;
                justify-content: center;
                background-color: #212529;
                color: white;
                margin: auto;
            }